<!DOCTYPE html>
<link rel="icon" href="/static/favicon.ico">
<title>{{title}}</title>
<body id="top">
    <nav>
        <a href="#top"><img src="static/Home.png" alt="Home" width="50" height="50"></a>
        <a href="#projects">projects</a>
        <a href="#bio">bio</a>
    </nav>
    
    <div>
        hi! i'm connor buchanan. check out what i've worked on.
    </div>
    
    <div id="projects">
        projects
        
        <div>
            <a href="https://gx.games/games/2gz94d/outofsight/tracks/91f267ee-2ca9-4943-9cf1-e8513b38fdf9/">Out of Sight</a>
        </div>
        <div>
            <a href="https://github.com/ConnorABuchanan/DinoPrototype">Prototype for DinosTD</a>
        </div>
        <div>
            <a href="https://github.com/University-of-Utah-CS3505/a8-edu-app-JessP127">A game that teaches basic recipes</a>
        </div>
        <div>
            <a href="https://github.com/University-of-Utah-CS3505/a7-sprite-editor-s23-gbrlhoopes">A sprite editor</a>
        </div>
    </div>
    
    <div id="bio">
        bio
        
        <p>
            i'm connor buchanan. 
            i'm a senior at the university of utah working on my bs in computer science with an emphasis in eae (games).
            i am an eagle scout and i love camping, backpacking, and the outdoors.
            
        </p>
    </div>
</body>
