@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 650;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    background-color: #F2F2F2;
}

body {
    margin: 0;
    padding: 0;
}

#projects {
    background-color: bisque;
}

#bio {
    background-color:honeydew;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.hcentered {
    justify-content: center;
    align-items: center;
}

.full {
    margin: 0;
    padding:50px;
    width: 100%-2rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.vcentered {
    justify-content: left;
    align-items: center;
}

.row-item {
    margin: 10px;
}

.center-text {
    text-align: center;
}

.column-item {
    margin-bottom: 20px;
}

.bio-width {
    width: 50%;
}

.just-left {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

.nav-button {
    border-color: black;
    border-radius: 7px;
    border-width: 4px;
    border-style: solid;
    padding: 5px;
    height: 100%;
}

footer {
    margin: .5rem;
    font-size: .75rem;
    text-align: center;
}

.block {
    display: block;
}

nav {
    position: fixed;
    background-color: #B0D9BE;
    width: 100%;
    padding: .4rem;
}

.pad-top {
    padding-top: 110px;
}